*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
li{
    display: inline-flex;
}

.hidden{
    display: none;
}

img{
    max-width: 400px;
}
.container{
    margin-top: 55px;
    text-align: center;
}

.footer{
    background-color: #E5E8E8 ;
}